main {
  min-height: 100vh;
  margin: 0 auto 0;
  padding: 1.2rem var(--side-padding) 2rem;
  max-width: var(--max-screen-width);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: bisque;
}

nav {
  margin: 0 auto;
  padding: 0.7rem var(--side-padding);
  width: 100%;
  max-width: var(--max-screen-width);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 900;
  font-size: 1.8rem;
  position: relative;
}

@media screen and (min-width: 586px) {
  nav {
    justify-content: center;
  }
}


nav img {
  height: 2.8rem;
  margin: 0 0.7rem;
}

#addPlaceBtn {
  position: absolute;
  top: 50%;
  right: var(--side-padding);
  transform: translateY(-50%);
}

#addPlaceBtn img {
  height: 16px;
}

.tagButtonsContainer {
width:100%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  /* margin-bottom: 1.4rem; */
  font-weight: 600;

}

.tagButton {
  margin: 0.4rem 0.6rem;
  padding: 0.35rem 1rem;
  border-radius: 100vh;
  width: fit-content;
  height: fit-content;
  font-family: inherit;
  font-weight: 600;
  background-color: #d0d3db;
  border: 3px solid #686561;
  transition: color 0.1s, background-color 0.1s, border 0.1s;
  transition-timing-function: ease-out;
}

.tagButton:hover, .tagButton:focus, #newTagInput:hover, #newTagInput:focus {
  border: 3px solid #e3d2ba;
}

.tagButton:hover {
  cursor: pointer;
}

.tagButtonSelected {
  border: 3px solid #d07226;
  color: white;
  background-color: #d07226;
}

#newTagInput {
  margin: 0.4rem 0 0.4rem 0.6rem;
  padding: 0.35rem 1rem;
  border-top-left-radius: 100vh;
  border-bottom-left-radius: 100vh;
  width: fit-content;
  height: fit-content;
  font-family: inherit;
  font-weight: 600;
  background-color: whitesmoke;
  border: 3px solid #686561;
  transition: color 0.1s, background-color 0.1s, border 0.1s;
  transition-timing-function: ease-out;
}

#newTagSubmit {
  margin: 0.4rem 0;
  padding: 0.35rem 1rem;
  border-top-right-radius: 100vh;
  border-bottom-right-radius: 100vh;
  width: fit-content;
  height: fit-content;
  font-family: inherit;
  font-weight: 600;
  color: white;
  font-weight: 600;
  background-color: #26ce88;
  border: 3px solid #26ce88;
  transition: color 0.1s, background-color 0.1s, border 0.1s;
  transition-timing-function: ease-out;

}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 562px;
  background-color: rgb(196, 240, 238);
  border: 3px solid #313334;
  border-radius: 2.8rem;
  padding: 2.4rem 2.8rem;
}

label {
  display: block;
  margin-top: 0.9rem;
  font-weight: 600;
}

input, textarea {
  margin-top: 0.2rem;
  font-family: inherit;
  font-size: medium;
  color: black;
}

input[type=text], textarea[type=text] {
  width: 100%;
  background-color: whitesmoke;
  padding: 0.6rem;
  border-radius: 0.6rem;
  border: 3px solid #686561;
  transition: border 0.1s;
  transition-timing-function: ease-out;
}

input:focus, textarea:focus {
  border: 3px solid #e3d2ba;
}

input[type=submit]{
  margin: 1.8rem auto 0;
  padding: 12px 48px;
  border-radius: 100vh;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: large;
  color: white;
  font-weight: 600;
  background-color: #26ce88;
  border: 3px solid #26ce88;
  transition: color 0.1s, background-color 0.1s, border 0.1s;
  transition-timing-function: ease-out;  
}


input[type=submit]:hover, input[type=submit]:focus, #newTagSubmit:hover, #newTagSubmit:focus {
  border: 3px solid #9adfc2;
  
}

input[type=submit]:hover, #newTagSubmit:hover {
  background-color:#9adfc2 ;
  cursor: pointer;
}

.iconBtn {
  display: block;
  margin: -16px -16px -16px auto; /* Offset by half width and height */
  width: 32px;
  height: 32px;
  /* background-color: #d0d3db; */
  border-radius: 100vh;
  transition: color 0.1s, background-color 0.1s;
  transition-timing-function: ease-out;
}

.iconBtn:hover {
  cursor: pointer;
}

.closeModalBtn:hover, .closeModalBtn:focus {
  background-color: #f0cbc5;
}