.card {
  border-radius: 1.2em;
  background-color: #f6f1e0;
  border: 3px solid #52524f;
  padding: 1.6em 1.4em;
  margin: 1.2em 0;
}

.metricsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ratingContainer,
.visitsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}
