.card {
  border-radius: 1.2em;
  background-color: #d8dce6;
  padding: 1.6em 1.4em;
  margin-top: 1.2em;
}

.metricsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ratingContainer,
.visitsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}
